wda.ipa
devimages
# Binaries for programs and plugins
*.log
*.exe
*.exe~
*.dll
*.so
*.dylib
go-ios
usbmuxd
main
*.png

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea
.vscode
.DS_Store
.circleci/
__debug_bin
dump-*