/*
 * go-ios REST API
 * go-ios REST API.  This is the *ideal* contract for the go-ios REST server. It is authored spec-first in TypeSpec and emitted to OpenAPI 3.1; the go-ios server conforms to this document (there is no backward-compatibility constraint yet).  ## Authentication  Every route under `/api/v1` requires a bearer token: `Authorization: Bearer <GO_IOS_API_KEY>`. The server refuses to start unless either an API key is configured or it is launched with `--disable-auth`.  When the server is started with `--disable-auth`, authentication is **not** enforced and the `Authorization` header may be omitted. The Swagger UI (`/swagger/_*`) is always unauthenticated and lives outside `/api/v1`, so it is not modeled here.  ## Device routing  Device-scoped routes live under `/device/{udid}`. A middleware resolves the udid: an unknown udid yields `404`, an empty udid yields `422`. The `/device/{udid}/apps` subgroup is serialized per-udid (one concurrent request per device).  ## Streaming  Long-lived endpoints (`/notifications`, `/ostrace`, `/syslog`, `/listen`, `/sysmontap` and the async `/jobs/{id}/logs`) are modeled as real Server-Sent Events (`text/event-stream`) with typed event payloads. See streaming.tsp.
 *
 * The version of the OpenAPI document: 0.1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.github.danielpaulus.goios.generated.invoker;

import java.util.List;
import java.util.Map;

/**
 * API response returned by API call.
 *
 * @param <T> The type of data that is deserialized from response body
 */
@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.11.0")
public class ApiResponse<T> {
    final private int statusCode;
    final private Map<String, List<String>> headers;
    final private T data;

    /**
     * @param statusCode The status code of HTTP response
     * @param headers The headers of HTTP response
     */
    public ApiResponse(int statusCode, Map<String, List<String>> headers) {
        this(statusCode, headers, null);
    }

    /**
     * @param statusCode The status code of HTTP response
     * @param headers The headers of HTTP response
     * @param data The object deserialized from response bod
     */
    public ApiResponse(int statusCode, Map<String, List<String>> headers, T data) {
        this.statusCode = statusCode;
        this.headers = headers;
        this.data = data;
    }

    public int getStatusCode() {
        return statusCode;
    }

    public Map<String, List<String>> getHeaders() {
        return headers;
    }

    public T getData() {
        return data;
    }
}
