/*
 * go-ios REST API
 * go-ios REST API.  This is the *ideal* contract for the go-ios REST server. It is authored spec-first in TypeSpec and emitted to OpenAPI 3.1; the go-ios server conforms to this document (there is no backward-compatibility constraint yet).  ## Authentication  Every route under `/api/v1` requires a bearer token: `Authorization: Bearer <GO_IOS_API_KEY>`. The server refuses to start unless either an API key is configured or it is launched with `--disable-auth`.  When the server is started with `--disable-auth`, authentication is **not** enforced and the `Authorization` header may be omitted. The Swagger UI (`/swagger/_*`) is always unauthenticated and lives outside `/api/v1`, so it is not modeled here.  ## Device routing  Device-scoped routes live under `/device/{udid}`. A middleware resolves the udid: an unknown udid yields `404`, an empty udid yields `422`. The `/device/{udid}/apps` subgroup is serialized per-udid (one concurrent request per device).  ## Streaming  Long-lived endpoints (`/notifications`, `/ostrace`, `/syslog`, `/listen`, `/sysmontap` and the async `/jobs/{id}/logs`) are modeled as real Server-Sent Events (`text/event-stream`) with typed event payloads. See streaming.tsp.
 *
 * The version of the OpenAPI document: 0.1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.github.danielpaulus.goios.generated.api;

import com.github.danielpaulus.goios.generated.invoker.ApiClient;
import com.github.danielpaulus.goios.generated.invoker.ApiException;
import com.github.danielpaulus.goios.generated.invoker.ApiResponse;
import com.github.danielpaulus.goios.generated.invoker.Pair;

import com.github.danielpaulus.goios.generated.model.AgentShutdown;
import com.github.danielpaulus.goios.generated.model.AppInfo;
import com.github.danielpaulus.goios.generated.model.AssistiveTouchState;
import com.github.danielpaulus.goios.generated.model.BatteryInfo;
import com.github.danielpaulus.goios.generated.model.CrashListing;
import com.github.danielpaulus.goios.generated.model.DevModeRequest;
import com.github.danielpaulus.goios.generated.model.DevModeState;
import com.github.danielpaulus.goios.generated.model.DeviceDate;
import com.github.danielpaulus.goios.generated.model.DeviceList;
import com.github.danielpaulus.goios.generated.model.DeviceName;
import com.github.danielpaulus.goios.generated.model.DevicesGetJob404Response;
import com.github.danielpaulus.goios.generated.model.EnabledRequest;
import com.github.danielpaulus.goios.generated.model.FileDomain;
import com.github.danielpaulus.goios.generated.model.FileListing;
import com.github.danielpaulus.goios.generated.model.FilePushResult;
import com.github.danielpaulus.goios.generated.model.ForwardRequest;
import com.github.danielpaulus.goios.generated.model.GenericResponse;
import com.github.danielpaulus.goios.generated.model.Job;
import com.github.danielpaulus.goios.generated.model.LanguageConfiguration;
import com.github.danielpaulus.goios.generated.model.MemLimitRequest;
import com.github.danielpaulus.goios.generated.model.MemLimitResult;
import com.github.danielpaulus.goios.generated.model.MountedImages;
import com.github.danielpaulus.goios.generated.model.PasteboardContent;
import com.github.danielpaulus.goios.generated.model.ProcessInfo;
import com.github.danielpaulus.goios.generated.model.ProfileType;
import com.github.danielpaulus.goios.generated.model.RunTestRequest;
import com.github.danielpaulus.goios.generated.model.SetLanguageRequest;
import com.github.danielpaulus.goios.generated.model.StatusOk;
import com.github.danielpaulus.goios.generated.model.TimeFormatRequest;
import com.github.danielpaulus.goios.generated.model.TimeFormatState;
import com.github.danielpaulus.goios.generated.model.Tunnel;
import com.github.danielpaulus.goios.generated.model.TunnelStopped;
import com.github.danielpaulus.goios.generated.model.UnlockToken;
import com.github.danielpaulus.goios.generated.model.WdaConfig;
import com.github.danielpaulus.goios.generated.model.WdaSession;
import com.github.danielpaulus.goios.generated.model.WifiRequest;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import org.apache.http.HttpEntity;
import org.apache.http.NameValuePair;
import org.apache.http.entity.mime.MultipartEntityBuilder;
import org.apache.http.message.BasicNameValuePair;
import org.apache.http.client.entity.UrlEncodedFormEntity;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.11.0")
public class DefaultApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public DefaultApi() {
    this(new ApiClient());
  }

  public DefaultApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Activate device
   * Activate the device (complete Setup Assistant / activation).
   * @param udid  (required)
   * @return GenericResponse
   * @throws ApiException if fails to make API call
   */
  public GenericResponse devicesActivate(String udid) throws ApiException {
    ApiResponse<GenericResponse> localVarResponse = devicesActivateWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * Activate device
   * Activate the device (complete Setup Assistant / activation).
   * @param udid  (required)
   * @return ApiResponse&lt;GenericResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<GenericResponse> devicesActivateWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesActivateRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesActivate", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<GenericResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<GenericResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<GenericResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesActivateRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesActivate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/activate"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Install profile
   * Install a configuration profile (CLI: &#x60;ios profile add&#x60;). Send the profile as the raw request body, or as multipart with a &#x60;profile&#x60; file plus an optional &#x60;p12&#x60; supervisor identity and &#x60;password&#x60; for a supervised install.
   * @param udid  (required)
   * @param profile  (required)
   * @param p12  (optional)
   * @param password Passphrase for the &#x60;.p12&#x60; identity. (optional)
   * @return GenericResponse
   * @throws ApiException if fails to make API call
   */
  public GenericResponse devicesAddProfile(String udid, Object profile, Object p12, String password) throws ApiException {
    ApiResponse<GenericResponse> localVarResponse = devicesAddProfileWithHttpInfo(udid, profile, p12, password);
    return localVarResponse.getData();
  }

  /**
   * Install profile
   * Install a configuration profile (CLI: &#x60;ios profile add&#x60;). Send the profile as the raw request body, or as multipart with a &#x60;profile&#x60; file plus an optional &#x60;p12&#x60; supervisor identity and &#x60;password&#x60; for a supervised install.
   * @param udid  (required)
   * @param profile  (required)
   * @param p12  (optional)
   * @param password Passphrase for the &#x60;.p12&#x60; identity. (optional)
   * @return ApiResponse&lt;GenericResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<GenericResponse> devicesAddProfileWithHttpInfo(String udid, Object profile, Object p12, String password) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesAddProfileRequestBuilder(udid, profile, p12, password);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesAddProfile", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<GenericResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<GenericResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<GenericResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesAddProfileRequestBuilder(String udid, Object profile, Object p12, String password) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesAddProfile");
    }
    // verify the required parameter 'profile' is set
    if (profile == null) {
      throw new ApiException(400, "Missing the required parameter 'profile' when calling devicesAddProfile");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/profiles"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    MultipartEntityBuilder multiPartBuilder = MultipartEntityBuilder.create();
    boolean hasFiles = false;
    multiPartBuilder.addTextBody("profile", profile.toString());
    multiPartBuilder.addTextBody("p12", p12.toString());
    multiPartBuilder.addTextBody("password", password.toString());
    HttpEntity entity = multiPartBuilder.build();
    HttpRequest.BodyPublisher formDataPublisher;
    if (hasFiles) {
        Pipe pipe;
        try {
            pipe = Pipe.open();
        } catch (IOException e) {
            throw new RuntimeException(e);
        }
        new Thread(() -> {
            try (OutputStream outputStream = Channels.newOutputStream(pipe.sink())) {
                entity.writeTo(outputStream);
            } catch (IOException e) {
                e.printStackTrace();
            }
        }).start();
        formDataPublisher = HttpRequest.BodyPublishers.ofInputStream(() -> Channels.newInputStream(pipe.source()));
    } else {
        ByteArrayOutputStream formOutputStream = new ByteArrayOutputStream();
        try {
            entity.writeTo(formOutputStream);
        } catch (IOException e) {
            throw new RuntimeException(e);
        }
        formDataPublisher = HttpRequest.BodyPublishers
            .ofInputStream(() -> new ByteArrayInputStream(formOutputStream.toByteArray()));
    }
    localVarRequestBuilder
        .header("Content-Type", entity.getContentType().getValue())
        .method("POST", formDataPublisher);
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Start WDA session
   * Start a WebDriverAgent (XCUITest) session.
   * @param udid  (required)
   * @param wdaConfig  (required)
   * @return WdaSession
   * @throws ApiException if fails to make API call
   */
  public WdaSession devicesCreateWdaSession(String udid, WdaConfig wdaConfig) throws ApiException {
    ApiResponse<WdaSession> localVarResponse = devicesCreateWdaSessionWithHttpInfo(udid, wdaConfig);
    return localVarResponse.getData();
  }

  /**
   * Start WDA session
   * Start a WebDriverAgent (XCUITest) session.
   * @param udid  (required)
   * @param wdaConfig  (required)
   * @return ApiResponse&lt;WdaSession&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<WdaSession> devicesCreateWdaSessionWithHttpInfo(String udid, WdaConfig wdaConfig) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesCreateWdaSessionRequestBuilder(udid, wdaConfig);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesCreateWdaSession", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<WdaSession>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<WdaSession>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<WdaSession>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesCreateWdaSessionRequestBuilder(String udid, WdaConfig wdaConfig) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesCreateWdaSession");
    }
    // verify the required parameter 'wdaConfig' is set
    if (wdaConfig == null) {
      throw new ApiException(400, "Missing the required parameter 'wdaConfig' when calling devicesCreateWdaSession");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/wda/session"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(wdaConfig);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Stop WDA session
   * Stop a running WebDriverAgent session.
   * @param udid  (required)
   * @param sessionId The WDA session id. (required)
   * @return WdaSession
   * @throws ApiException if fails to make API call
   */
  public WdaSession devicesDeleteWdaSession(String udid, String sessionId) throws ApiException {
    ApiResponse<WdaSession> localVarResponse = devicesDeleteWdaSessionWithHttpInfo(udid, sessionId);
    return localVarResponse.getData();
  }

  /**
   * Stop WDA session
   * Stop a running WebDriverAgent session.
   * @param udid  (required)
   * @param sessionId The WDA session id. (required)
   * @return ApiResponse&lt;WdaSession&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<WdaSession> devicesDeleteWdaSessionWithHttpInfo(String udid, String sessionId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesDeleteWdaSessionRequestBuilder(udid, sessionId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesDeleteWdaSession", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<WdaSession>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<WdaSession>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<WdaSession>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesDeleteWdaSessionRequestBuilder(String udid, String sessionId) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesDeleteWdaSession");
    }
    // verify the required parameter 'sessionId' is set
    if (sessionId == null) {
      throw new ApiException(400, "Missing the required parameter 'sessionId' when calling devicesDeleteWdaSession");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/wda/session/{sessionId}"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()))
        .replace("{sessionId}", ApiClient.urlEncode(sessionId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Disable condition
   * Disable the currently active condition inducer profile.
   * @param udid  (required)
   * @return GenericResponse
   * @throws ApiException if fails to make API call
   */
  public GenericResponse devicesDisableCondition(String udid) throws ApiException {
    ApiResponse<GenericResponse> localVarResponse = devicesDisableConditionWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * Disable condition
   * Disable the currently active condition inducer profile.
   * @param udid  (required)
   * @return ApiResponse&lt;GenericResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<GenericResponse> devicesDisableConditionWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesDisableConditionRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesDisableCondition", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<GenericResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<GenericResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<GenericResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesDisableConditionRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesDisableCondition");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/disable-condition"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Enable condition
   * Enable a condition inducer profile.
   * @param udid  (required)
   * @param profileTypeID Identifier of the condition profile type. (required)
   * @param profileID Identifier of the specific profile to activate. (required)
   * @return GenericResponse
   * @throws ApiException if fails to make API call
   */
  public GenericResponse devicesEnableCondition(String udid, String profileTypeID, String profileID) throws ApiException {
    ApiResponse<GenericResponse> localVarResponse = devicesEnableConditionWithHttpInfo(udid, profileTypeID, profileID);
    return localVarResponse.getData();
  }

  /**
   * Enable condition
   * Enable a condition inducer profile.
   * @param udid  (required)
   * @param profileTypeID Identifier of the condition profile type. (required)
   * @param profileID Identifier of the specific profile to activate. (required)
   * @return ApiResponse&lt;GenericResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<GenericResponse> devicesEnableConditionWithHttpInfo(String udid, String profileTypeID, String profileID) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesEnableConditionRequestBuilder(udid, profileTypeID, profileID);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesEnableCondition", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<GenericResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<GenericResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<GenericResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesEnableConditionRequestBuilder(String udid, String profileTypeID, String profileID) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesEnableCondition");
    }
    // verify the required parameter 'profileTypeID' is set
    if (profileTypeID == null) {
      throw new ApiException(400, "Missing the required parameter 'profileTypeID' when calling devicesEnableCondition");
    }
    // verify the required parameter 'profileID' is set
    if (profileID == null) {
      throw new ApiException(400, "Missing the required parameter 'profileID' when calling devicesEnableCondition");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/enable-condition"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "profileTypeID";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("profileTypeID", profileTypeID));
    localVarQueryParameterBaseName = "profileID";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("profileID", profileID));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Erase device
   * Erase all content and settings (CLI: &#x60;ios erase&#x60;). Destructive: requires &#x60;confirm&#x3D;true&#x60;.
   * @param udid  (required)
   * @param confirm Must be &#x60;true&#x60; to proceed with the destructive erase. (required)
   * @return GenericResponse
   * @throws ApiException if fails to make API call
   */
  public GenericResponse devicesErase(String udid, Boolean confirm) throws ApiException {
    ApiResponse<GenericResponse> localVarResponse = devicesEraseWithHttpInfo(udid, confirm);
    return localVarResponse.getData();
  }

  /**
   * Erase device
   * Erase all content and settings (CLI: &#x60;ios erase&#x60;). Destructive: requires &#x60;confirm&#x3D;true&#x60;.
   * @param udid  (required)
   * @param confirm Must be &#x60;true&#x60; to proceed with the destructive erase. (required)
   * @return ApiResponse&lt;GenericResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<GenericResponse> devicesEraseWithHttpInfo(String udid, Boolean confirm) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesEraseRequestBuilder(udid, confirm);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesErase", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<GenericResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<GenericResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<GenericResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesEraseRequestBuilder(String udid, Boolean confirm) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesErase");
    }
    // verify the required parameter 'confirm' is set
    if (confirm == null) {
      throw new ApiException(400, "Missing the required parameter 'confirm' when calling devicesErase");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/erase"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "confirm";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("confirm", confirm));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get AssistiveTouch
   * Get AssistiveTouch state (CLI: &#x60;ios assistivetouch get&#x60;).
   * @param udid  (required)
   * @return AssistiveTouchState
   * @throws ApiException if fails to make API call
   */
  public AssistiveTouchState devicesGetAssistiveTouch(String udid) throws ApiException {
    ApiResponse<AssistiveTouchState> localVarResponse = devicesGetAssistiveTouchWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * Get AssistiveTouch
   * Get AssistiveTouch state (CLI: &#x60;ios assistivetouch get&#x60;).
   * @param udid  (required)
   * @return ApiResponse&lt;AssistiveTouchState&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AssistiveTouchState> devicesGetAssistiveTouchWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetAssistiveTouchRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetAssistiveTouch", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<AssistiveTouchState>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<AssistiveTouchState>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<AssistiveTouchState>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetAssistiveTouchRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesGetAssistiveTouch");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/assistivetouch"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get battery info
   * Get battery diagnostics (CLI: &#x60;ios batterycheck&#x60;).
   * @param udid  (required)
   * @return BatteryInfo
   * @throws ApiException if fails to make API call
   */
  public BatteryInfo devicesGetBattery(String udid) throws ApiException {
    ApiResponse<BatteryInfo> localVarResponse = devicesGetBatteryWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * Get battery info
   * Get battery diagnostics (CLI: &#x60;ios batterycheck&#x60;).
   * @param udid  (required)
   * @return ApiResponse&lt;BatteryInfo&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<BatteryInfo> devicesGetBatteryWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetBatteryRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetBattery", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<BatteryInfo>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<BatteryInfo>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<BatteryInfo>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetBatteryRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesGetBattery");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/battery"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get developer mode
   * Get developer mode state (CLI: &#x60;ios devmode get&#x60;).
   * @param udid  (required)
   * @return DevModeState
   * @throws ApiException if fails to make API call
   */
  public DevModeState devicesGetDevMode(String udid) throws ApiException {
    ApiResponse<DevModeState> localVarResponse = devicesGetDevModeWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * Get developer mode
   * Get developer mode state (CLI: &#x60;ios devmode get&#x60;).
   * @param udid  (required)
   * @return ApiResponse&lt;DevModeState&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DevModeState> devicesGetDevModeWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetDevModeRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetDevMode", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<DevModeState>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<DevModeState>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DevModeState>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetDevModeRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesGetDevMode");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/devmode"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get device date
   * Get the device clock (CLI: &#x60;ios date&#x60;).
   * @param udid  (required)
   * @return DeviceDate
   * @throws ApiException if fails to make API call
   */
  public DeviceDate devicesGetDeviceDate(String udid) throws ApiException {
    ApiResponse<DeviceDate> localVarResponse = devicesGetDeviceDateWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * Get device date
   * Get the device clock (CLI: &#x60;ios date&#x60;).
   * @param udid  (required)
   * @return ApiResponse&lt;DeviceDate&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DeviceDate> devicesGetDeviceDateWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetDeviceDateRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetDeviceDate", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<DeviceDate>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<DeviceDate>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DeviceDate>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetDeviceDateRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesGetDeviceDate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/date"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get device name
   * Get the device name (CLI: &#x60;ios devicename&#x60;).
   * @param udid  (required)
   * @return DeviceName
   * @throws ApiException if fails to make API call
   */
  public DeviceName devicesGetDeviceName(String udid) throws ApiException {
    ApiResponse<DeviceName> localVarResponse = devicesGetDeviceNameWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * Get device name
   * Get the device name (CLI: &#x60;ios devicename&#x60;).
   * @param udid  (required)
   * @return ApiResponse&lt;DeviceName&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DeviceName> devicesGetDeviceNameWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetDeviceNameRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetDeviceName", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<DeviceName>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<DeviceName>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DeviceName>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetDeviceNameRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesGetDeviceName");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/devicename"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List diagnostics
   * List all IORegistry/diagnostic values (CLI: &#x60;ios diagnostics list&#x60;).
   * @param udid  (required)
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object devicesGetDiagnostics(String udid) throws ApiException {
    ApiResponse<Object> localVarResponse = devicesGetDiagnosticsWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * List diagnostics
   * List all IORegistry/diagnostic values (CLI: &#x60;ios diagnostics list&#x60;).
   * @param udid  (required)
   * @return ApiResponse&lt;Object&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Object> devicesGetDiagnosticsWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetDiagnosticsRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetDiagnostics", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Object>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<Object>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Object>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetDiagnosticsRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesGetDiagnostics");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/diagnostics"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get icon layout
   * Get the SpringBoard icon layout (CLI: &#x60;ios get-icon-layout&#x60;).
   * @param udid  (required)
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object devicesGetIconLayout(String udid) throws ApiException {
    ApiResponse<Object> localVarResponse = devicesGetIconLayoutWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * Get icon layout
   * Get the SpringBoard icon layout (CLI: &#x60;ios get-icon-layout&#x60;).
   * @param udid  (required)
   * @return ApiResponse&lt;Object&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Object> devicesGetIconLayoutWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetIconLayoutRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetIconLayout", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Object>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<Object>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Object>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetIconLayoutRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesGetIconLayout");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/icon-layout"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get device info
   * Get lockdown values plus &#x60;instruments:*&#x60; keys for the device. Returns an open dictionary of heterogeneous values.
   * @param udid  (required)
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object devicesGetInfo(String udid) throws ApiException {
    ApiResponse<Object> localVarResponse = devicesGetInfoWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * Get device info
   * Get lockdown values plus &#x60;instruments:*&#x60; keys for the device. Returns an open dictionary of heterogeneous values.
   * @param udid  (required)
   * @return ApiResponse&lt;Object&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Object> devicesGetInfoWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetInfoRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetInfo", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Object>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<Object>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Object>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetInfoRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesGetInfo");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/info"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get job
   * Get a job&#39;s status. Returns &#x60;404&#x60; for an unknown job on this device.
   * @param udid  (required)
   * @param id The job id. (required)
   * @return Job
   * @throws ApiException if fails to make API call
   */
  public Job devicesGetJob(String udid, String id) throws ApiException {
    ApiResponse<Job> localVarResponse = devicesGetJobWithHttpInfo(udid, id);
    return localVarResponse.getData();
  }

  /**
   * Get job
   * Get a job&#39;s status. Returns &#x60;404&#x60; for an unknown job on this device.
   * @param udid  (required)
   * @param id The job id. (required)
   * @return ApiResponse&lt;Job&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Job> devicesGetJobWithHttpInfo(String udid, String id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetJobRequestBuilder(udid, id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetJob", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Job>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<Job>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Job>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetJobRequestBuilder(String udid, String id) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesGetJob");
    }
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling devicesGetJob");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/jobs/{id}"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()))
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get language
   * Get the device language/locale configuration (CLI: &#x60;ios lang&#x60;).
   * @param udid  (required)
   * @return LanguageConfiguration
   * @throws ApiException if fails to make API call
   */
  public LanguageConfiguration devicesGetLanguage(String udid) throws ApiException {
    ApiResponse<LanguageConfiguration> localVarResponse = devicesGetLanguageWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * Get language
   * Get the device language/locale configuration (CLI: &#x60;ios lang&#x60;).
   * @param udid  (required)
   * @return ApiResponse&lt;LanguageConfiguration&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<LanguageConfiguration> devicesGetLanguageWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetLanguageRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetLanguage", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<LanguageConfiguration>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<LanguageConfiguration>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<LanguageConfiguration>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetLanguageRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesGetLanguage");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/lang"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get lockdown values
   * Get all lockdown values (CLI: &#x60;ios lockdown get&#x60;).
   * @param udid  (required)
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object devicesGetLockdownValues(String udid) throws ApiException {
    ApiResponse<Object> localVarResponse = devicesGetLockdownValuesWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * Get lockdown values
   * Get all lockdown values (CLI: &#x60;ios lockdown get&#x60;).
   * @param udid  (required)
   * @return ApiResponse&lt;Object&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Object> devicesGetLockdownValuesWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetLockdownValuesRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetLockdownValues", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Object>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<Object>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Object>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetLockdownValuesRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesGetLockdownValues");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/lockdown"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Query MobileGestalt
   * Query one or more MobileGestalt keys (CLI: &#x60;ios mobilegestalt &lt;key&gt;...&#x60;). Pass repeated &#x60;key&#x60; query params.
   * @param udid  (required)
   * @param key One or more MobileGestalt keys to query. (required)
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object devicesGetMobileGestalt(String udid, List<String> key) throws ApiException {
    ApiResponse<Object> localVarResponse = devicesGetMobileGestaltWithHttpInfo(udid, key);
    return localVarResponse.getData();
  }

  /**
   * Query MobileGestalt
   * Query one or more MobileGestalt keys (CLI: &#x60;ios mobilegestalt &lt;key&gt;...&#x60;). Pass repeated &#x60;key&#x60; query params.
   * @param udid  (required)
   * @param key One or more MobileGestalt keys to query. (required)
   * @return ApiResponse&lt;Object&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Object> devicesGetMobileGestaltWithHttpInfo(String udid, List<String> key) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetMobileGestaltRequestBuilder(udid, key);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetMobileGestalt", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Object>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<Object>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Object>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetMobileGestaltRequestBuilder(String udid, List<String> key) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesGetMobileGestalt");
    }
    // verify the required parameter 'key' is set
    if (key == null) {
      throw new ApiException(400, "Missing the required parameter 'key' when calling devicesGetMobileGestalt");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/mobilegestalt"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "key";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("csv", "key", key));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get pasteboard
   * Get the pasteboard (clipboard) text (CLI: &#x60;ios pasteboard get&#x60;).
   * @param udid  (required)
   * @return PasteboardContent
   * @throws ApiException if fails to make API call
   */
  public PasteboardContent devicesGetPasteboard(String udid) throws ApiException {
    ApiResponse<PasteboardContent> localVarResponse = devicesGetPasteboardWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * Get pasteboard
   * Get the pasteboard (clipboard) text (CLI: &#x60;ios pasteboard get&#x60;).
   * @param udid  (required)
   * @return ApiResponse&lt;PasteboardContent&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<PasteboardContent> devicesGetPasteboardWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetPasteboardRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetPasteboard", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<PasteboardContent>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<PasteboardContent>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<PasteboardContent>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetPasteboardRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesGetPasteboard");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/pasteboard"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List processes
   * List running processes (CLI: &#x60;ios ps [--apps]&#x60;).
   * @param udid  (required)
   * @param apps Only return application processes. (optional)
   * @return List&lt;ProcessInfo&gt;
   * @throws ApiException if fails to make API call
   */
  public List<ProcessInfo> devicesGetProcesses(String udid, Boolean apps) throws ApiException {
    ApiResponse<List<ProcessInfo>> localVarResponse = devicesGetProcessesWithHttpInfo(udid, apps);
    return localVarResponse.getData();
  }

  /**
   * List processes
   * List running processes (CLI: &#x60;ios ps [--apps]&#x60;).
   * @param udid  (required)
   * @param apps Only return application processes. (optional)
   * @return ApiResponse&lt;List&lt;ProcessInfo&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<ProcessInfo>> devicesGetProcessesWithHttpInfo(String udid, Boolean apps) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetProcessesRequestBuilder(udid, apps);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetProcesses", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<List<ProcessInfo>>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<List<ProcessInfo>>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<List<ProcessInfo>>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetProcessesRequestBuilder(String udid, Boolean apps) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesGetProcesses");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/processes"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "apps";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("apps", apps));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List configuration profiles
   * List installed configuration profiles. Returns an open dictionary.
   * @param udid  (required)
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object devicesGetProfiles(String udid) throws ApiException {
    ApiResponse<Object> localVarResponse = devicesGetProfilesWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * List configuration profiles
   * List installed configuration profiles. Returns an open dictionary.
   * @param udid  (required)
   * @return ApiResponse&lt;Object&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Object> devicesGetProfilesWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetProfilesRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetProfiles", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Object>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<Object>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Object>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetProfilesRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesGetProfiles");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/profiles"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get time format
   * Get the 24-hour clock state (CLI: &#x60;ios timeformat get&#x60;).
   * @param udid  (required)
   * @return TimeFormatState
   * @throws ApiException if fails to make API call
   */
  public TimeFormatState devicesGetTimeFormat(String udid) throws ApiException {
    ApiResponse<TimeFormatState> localVarResponse = devicesGetTimeFormatWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * Get time format
   * Get the 24-hour clock state (CLI: &#x60;ios timeformat get&#x60;).
   * @param udid  (required)
   * @return ApiResponse&lt;TimeFormatState&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TimeFormatState> devicesGetTimeFormatWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetTimeFormatRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetTimeFormat", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<TimeFormatState>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<TimeFormatState>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<TimeFormatState>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetTimeFormatRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesGetTimeFormat");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/timeformat"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get wallpaper
   * Get the home-screen wallpaper as PNG (CLI: &#x60;ios get-wallpaper&#x60;).
   * @param udid  (required)
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object devicesGetWallpaper(String udid) throws ApiException {
    ApiResponse<Object> localVarResponse = devicesGetWallpaperWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * Get wallpaper
   * Get the home-screen wallpaper as PNG (CLI: &#x60;ios get-wallpaper&#x60;).
   * @param udid  (required)
   * @return ApiResponse&lt;Object&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Object> devicesGetWallpaperWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetWallpaperRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetWallpaper", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Object>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<Object>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Object>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetWallpaperRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesGetWallpaper");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/wallpaper"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "image/png, application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get WDA session
   * Get a running WebDriverAgent session. Returns &#x60;404&#x60; for an unknown session.
   * @param udid  (required)
   * @param sessionId The WDA session id. (required)
   * @return WdaSession
   * @throws ApiException if fails to make API call
   */
  public WdaSession devicesGetWdaSession(String udid, String sessionId) throws ApiException {
    ApiResponse<WdaSession> localVarResponse = devicesGetWdaSessionWithHttpInfo(udid, sessionId);
    return localVarResponse.getData();
  }

  /**
   * Get WDA session
   * Get a running WebDriverAgent session. Returns &#x60;404&#x60; for an unknown session.
   * @param udid  (required)
   * @param sessionId The WDA session id. (required)
   * @return ApiResponse&lt;WdaSession&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<WdaSession> devicesGetWdaSessionWithHttpInfo(String udid, String sessionId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetWdaSessionRequestBuilder(udid, sessionId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetWdaSession", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<WdaSession>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<WdaSession>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<WdaSession>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetWdaSessionRequestBuilder(String udid, String sessionId) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesGetWdaSession");
    }
    // verify the required parameter 'sessionId' is set
    if (sessionId == null) {
      throw new ApiException(400, "Missing the required parameter 'sessionId' when calling devicesGetWdaSession");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/wda/session/{sessionId}"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()))
        .replace("{sessionId}", ApiClient.urlEncode(sessionId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Install app
   * Install an application from an uploaded &#x60;.ipa&#x60;/&#x60;.app&#x60; archive. The multipart &#x60;file&#x60; part must be 1 byte–200 MB.
   * @param udid  (required)
   * @param _file  (required)
   * @return GenericResponse
   * @throws ApiException if fails to make API call
   */
  public GenericResponse devicesInstallApp(String udid, Object _file) throws ApiException {
    ApiResponse<GenericResponse> localVarResponse = devicesInstallAppWithHttpInfo(udid, _file);
    return localVarResponse.getData();
  }

  /**
   * Install app
   * Install an application from an uploaded &#x60;.ipa&#x60;/&#x60;.app&#x60; archive. The multipart &#x60;file&#x60; part must be 1 byte–200 MB.
   * @param udid  (required)
   * @param _file  (required)
   * @return ApiResponse&lt;GenericResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<GenericResponse> devicesInstallAppWithHttpInfo(String udid, Object _file) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesInstallAppRequestBuilder(udid, _file);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesInstallApp", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<GenericResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<GenericResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<GenericResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesInstallAppRequestBuilder(String udid, Object _file) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesInstallApp");
    }
    // verify the required parameter '_file' is set
    if (_file == null) {
      throw new ApiException(400, "Missing the required parameter '_file' when calling devicesInstallApp");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/apps/install"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    MultipartEntityBuilder multiPartBuilder = MultipartEntityBuilder.create();
    boolean hasFiles = false;
    multiPartBuilder.addTextBody("file", _file.toString());
    HttpEntity entity = multiPartBuilder.build();
    HttpRequest.BodyPublisher formDataPublisher;
    if (hasFiles) {
        Pipe pipe;
        try {
            pipe = Pipe.open();
        } catch (IOException e) {
            throw new RuntimeException(e);
        }
        new Thread(() -> {
            try (OutputStream outputStream = Channels.newOutputStream(pipe.sink())) {
                entity.writeTo(outputStream);
            } catch (IOException e) {
                e.printStackTrace();
            }
        }).start();
        formDataPublisher = HttpRequest.BodyPublishers.ofInputStream(() -> Channels.newInputStream(pipe.source()));
    } else {
        ByteArrayOutputStream formOutputStream = new ByteArrayOutputStream();
        try {
            entity.writeTo(formOutputStream);
        } catch (IOException e) {
            throw new RuntimeException(e);
        }
        formDataPublisher = HttpRequest.BodyPublishers
            .ofInputStream(() -> new ByteArrayInputStream(formOutputStream.toByteArray()));
    }
    localVarRequestBuilder
        .header("Content-Type", entity.getContentType().getValue())
        .method("POST", formDataPublisher);
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Kill app
   * Kill a running application by bundle id.
   * @param udid  (required)
   * @param bundleID Bundle id of the app to kill. (required)
   * @return GenericResponse
   * @throws ApiException if fails to make API call
   */
  public GenericResponse devicesKillApp(String udid, String bundleID) throws ApiException {
    ApiResponse<GenericResponse> localVarResponse = devicesKillAppWithHttpInfo(udid, bundleID);
    return localVarResponse.getData();
  }

  /**
   * Kill app
   * Kill a running application by bundle id.
   * @param udid  (required)
   * @param bundleID Bundle id of the app to kill. (required)
   * @return ApiResponse&lt;GenericResponse&gt;
[...]
