/*
 * go-ios REST API
 * go-ios REST API.  This is the *ideal* contract for the go-ios REST server. It is authored spec-first in TypeSpec and emitted to OpenAPI 3.1; the go-ios server conforms to this document (there is no backward-compatibility constraint yet).  ## Authentication  Every route under `/api/v1` requires a bearer token: `Authorization: Bearer <GO_IOS_API_KEY>`. The server refuses to start unless either an API key is configured or it is launched with `--disable-auth`.  When the server is started with `--disable-auth`, authentication is **not** enforced and the `Authorization` header may be omitted. The Swagger UI (`/swagger/_*`) is always unauthenticated and lives outside `/api/v1`, so it is not modeled here.  ## Device routing  Device-scoped routes live under `/device/{udid}`. A middleware resolves the udid: an unknown udid yields `404`, an empty udid yields `422`. The `/device/{udid}/apps` subgroup is serialized per-udid (one concurrent request per device).  ## Streaming  Long-lived endpoints (`/notifications`, `/ostrace`, `/syslog`, `/listen`, `/sysmontap` and the async `/jobs/{id}/logs`) are modeled as real Server-Sent Events (`text/event-stream`) with typed event payloads. See streaming.tsp.
 *
 * The version of the OpenAPI document: 0.1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.github.danielpaulus.goios.generated.api;

import com.github.danielpaulus.goios.generated.invoker.ApiClient;
import com.github.danielpaulus.goios.generated.invoker.ApiException;
import com.github.danielpaulus.goios.generated.invoker.ApiResponse;
import com.github.danielpaulus.goios.generated.invoker.Pair;

import com.github.danielpaulus.goios.generated.model.AXEnabledRequest;
import com.github.danielpaulus.goios.generated.model.AgentShutdown;
import com.github.danielpaulus.goios.generated.model.AppInfo;
import com.github.danielpaulus.goios.generated.model.AssistiveTouchState;
import com.github.danielpaulus.goios.generated.model.BatteryInfo;
import com.github.danielpaulus.goios.generated.model.BatteryRegistry;
import com.github.danielpaulus.goios.generated.model.CrashListing;
import com.github.danielpaulus.goios.generated.model.DevModeRequest;
import com.github.danielpaulus.goios.generated.model.DevModeState;
import com.github.danielpaulus.goios.generated.model.DeviceDate;
import com.github.danielpaulus.goios.generated.model.DeviceList;
import com.github.danielpaulus.goios.generated.model.DeviceName;
import com.github.danielpaulus.goios.generated.model.DevicesGetJob404Response;
import com.github.danielpaulus.goios.generated.model.DiskSpaceInfo;
import com.github.danielpaulus.goios.generated.model.EnabledRequest;
import com.github.danielpaulus.goios.generated.model.FileDomain;
import com.github.danielpaulus.goios.generated.model.FileListing;
import com.github.danielpaulus.goios.generated.model.FilePushResult;
import com.github.danielpaulus.goios.generated.model.ForwardRequest;
import com.github.danielpaulus.goios.generated.model.FsyncListing;
import com.github.danielpaulus.goios.generated.model.FsyncMessage;
import com.github.danielpaulus.goios.generated.model.FsyncPushResult;
import com.github.danielpaulus.goios.generated.model.FsyncTreeListing;
import com.github.danielpaulus.goios.generated.model.GenericResponse;
import com.github.danielpaulus.goios.generated.model.Job;
import com.github.danielpaulus.goios.generated.model.LanguageConfiguration;
import com.github.danielpaulus.goios.generated.model.MemLimitRequest;
import com.github.danielpaulus.goios.generated.model.MemLimitResult;
import com.github.danielpaulus.goios.generated.model.MountedImages;
import com.github.danielpaulus.goios.generated.model.NetworkInfo;
import com.github.danielpaulus.goios.generated.model.PasteboardContent;
import com.github.danielpaulus.goios.generated.model.PrepareResult;
import com.github.danielpaulus.goios.generated.model.PrepareSkipOptions;
import com.github.danielpaulus.goios.generated.model.ProcessInfo;
import com.github.danielpaulus.goios.generated.model.ProfileType;
import com.github.danielpaulus.goios.generated.model.ProvisioningResult;
import com.github.danielpaulus.goios.generated.model.RunTestRequest;
import com.github.danielpaulus.goios.generated.model.SetLanguageRequest;
import com.github.danielpaulus.goios.generated.model.StatusOk;
import com.github.danielpaulus.goios.generated.model.SupervisionCert;
import com.github.danielpaulus.goios.generated.model.TimeFormatRequest;
import com.github.danielpaulus.goios.generated.model.TimeFormatState;
import com.github.danielpaulus.goios.generated.model.Tunnel;
import com.github.danielpaulus.goios.generated.model.TunnelStopped;
import com.github.danielpaulus.goios.generated.model.UIAPIRequest;
import com.github.danielpaulus.goios.generated.model.UIAppRequest;
import com.github.danielpaulus.goios.generated.model.UIButtonRequest;
import com.github.danielpaulus.goios.generated.model.UILongPressRequest;
import com.github.danielpaulus.goios.generated.model.UIOrientationRequest;
import com.github.danielpaulus.goios.generated.model.UISwipeRequest;
import com.github.danielpaulus.goios.generated.model.UITapRequest;
import com.github.danielpaulus.goios.generated.model.UITypeRequest;
import com.github.danielpaulus.goios.generated.model.UnlockToken;
import com.github.danielpaulus.goios.generated.model.VoiceOverState;
import com.github.danielpaulus.goios.generated.model.WdaConfig;
import com.github.danielpaulus.goios.generated.model.WdaSession;
import com.github.danielpaulus.goios.generated.model.WebInspectorEvalRequest;
import com.github.danielpaulus.goios.generated.model.WebInspectorEvalResult;
import com.github.danielpaulus.goios.generated.model.WebInspectorLaunchRequest;
import com.github.danielpaulus.goios.generated.model.WebInspectorLaunchResult;
import com.github.danielpaulus.goios.generated.model.WifiRequest;
import com.github.danielpaulus.goios.generated.model.ZoomTouchState;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import org.apache.http.HttpEntity;
import org.apache.http.NameValuePair;
import org.apache.http.entity.mime.MultipartEntityBuilder;
import org.apache.http.message.BasicNameValuePair;
import org.apache.http.client.entity.UrlEncodedFormEntity;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.11.0")
public class DefaultApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public DefaultApi() {
    this(new ApiClient());
  }

  public DefaultApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Get accessibility element snapshot
   * Get a snapshot of the currently focused accessibility element (CLI: &#x60;ios ax&#x60;).
   * @param udid  (required)
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object accessibilityGetAxSnapshot(String udid) throws ApiException {
    ApiResponse<Object> localVarResponse = accessibilityGetAxSnapshotWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * Get accessibility element snapshot
   * Get a snapshot of the currently focused accessibility element (CLI: &#x60;ios ax&#x60;).
   * @param udid  (required)
   * @return ApiResponse&lt;Object&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Object> accessibilityGetAxSnapshotWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = accessibilityGetAxSnapshotRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("accessibilityGetAxSnapshot", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Object>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<Object>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Object>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder accessibilityGetAxSnapshotRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling accessibilityGetAxSnapshot");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/ax"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get VoiceOver state
   * Get VoiceOver enabled state (CLI: &#x60;ios voiceover get&#x60;).
   * @param udid  (required)
   * @return VoiceOverState
   * @throws ApiException if fails to make API call
   */
  public VoiceOverState accessibilityGetVoiceOver(String udid) throws ApiException {
    ApiResponse<VoiceOverState> localVarResponse = accessibilityGetVoiceOverWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * Get VoiceOver state
   * Get VoiceOver enabled state (CLI: &#x60;ios voiceover get&#x60;).
   * @param udid  (required)
   * @return ApiResponse&lt;VoiceOverState&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<VoiceOverState> accessibilityGetVoiceOverWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = accessibilityGetVoiceOverRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("accessibilityGetVoiceOver", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<VoiceOverState>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<VoiceOverState>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<VoiceOverState>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder accessibilityGetVoiceOverRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling accessibilityGetVoiceOver");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/voiceover"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get ZoomTouch state
   * Get ZoomTouch enabled state (CLI: &#x60;ios zoomtouch get&#x60;).
   * @param udid  (required)
   * @return ZoomTouchState
   * @throws ApiException if fails to make API call
   */
  public ZoomTouchState accessibilityGetZoomTouch(String udid) throws ApiException {
    ApiResponse<ZoomTouchState> localVarResponse = accessibilityGetZoomTouchWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * Get ZoomTouch state
   * Get ZoomTouch enabled state (CLI: &#x60;ios zoomtouch get&#x60;).
   * @param udid  (required)
   * @return ApiResponse&lt;ZoomTouchState&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ZoomTouchState> accessibilityGetZoomTouchWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = accessibilityGetZoomTouchRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("accessibilityGetZoomTouch", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ZoomTouchState>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ZoomTouchState>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ZoomTouchState>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder accessibilityGetZoomTouchRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling accessibilityGetZoomTouch");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/zoom"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Run accessibility audit
   * Run the accessibility audit against the focused app and return the issues found (CLI: &#x60;ios ax audit&#x60;). Bounded by &#x60;timeout&#x60; (seconds, default 60).
   * @param udid  (required)
   * @param timeout Audit timeout in seconds (default 60). (optional)
   * @return List&lt;Object&gt;
   * @throws ApiException if fails to make API call
   */
  public List<Object> accessibilityRunAxAudit(String udid, Integer timeout) throws ApiException {
    ApiResponse<List<Object>> localVarResponse = accessibilityRunAxAuditWithHttpInfo(udid, timeout);
    return localVarResponse.getData();
  }

  /**
   * Run accessibility audit
   * Run the accessibility audit against the focused app and return the issues found (CLI: &#x60;ios ax audit&#x60;). Bounded by &#x60;timeout&#x60; (seconds, default 60).
   * @param udid  (required)
   * @param timeout Audit timeout in seconds (default 60). (optional)
   * @return ApiResponse&lt;List&lt;Object&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<Object>> accessibilityRunAxAuditWithHttpInfo(String udid, Integer timeout) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = accessibilityRunAxAuditRequestBuilder(udid, timeout);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("accessibilityRunAxAudit", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<List<Object>>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<List<Object>>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<List<Object>>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder accessibilityRunAxAuditRequestBuilder(String udid, Integer timeout) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling accessibilityRunAxAudit");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/ax/audit"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "timeout";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("timeout", timeout));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Simulate location from a GPX file
   * Simulate live location tracking from an uploaded GPX file (CLI: &#x60;ios setlocationgpx&#x60;). Send multipart/form-data with a &#x60;gpx&#x60; file.
   * @param udid  (required)
   * @param gpx  (required)
   * @return GenericResponse
   * @throws ApiException if fails to make API call
   */
  public GenericResponse accessibilitySetLocationGpx(String udid, Object gpx) throws ApiException {
    ApiResponse<GenericResponse> localVarResponse = accessibilitySetLocationGpxWithHttpInfo(udid, gpx);
    return localVarResponse.getData();
  }

  /**
   * Simulate location from a GPX file
   * Simulate live location tracking from an uploaded GPX file (CLI: &#x60;ios setlocationgpx&#x60;). Send multipart/form-data with a &#x60;gpx&#x60; file.
   * @param udid  (required)
   * @param gpx  (required)
   * @return ApiResponse&lt;GenericResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<GenericResponse> accessibilitySetLocationGpxWithHttpInfo(String udid, Object gpx) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = accessibilitySetLocationGpxRequestBuilder(udid, gpx);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("accessibilitySetLocationGpx", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<GenericResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<GenericResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<GenericResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder accessibilitySetLocationGpxRequestBuilder(String udid, Object gpx) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling accessibilitySetLocationGpx");
    }
    // verify the required parameter 'gpx' is set
    if (gpx == null) {
      throw new ApiException(400, "Missing the required parameter 'gpx' when calling accessibilitySetLocationGpx");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/setlocation/gpx"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    MultipartEntityBuilder multiPartBuilder = MultipartEntityBuilder.create();
    boolean hasFiles = false;
    multiPartBuilder.addTextBody("gpx", gpx.toString());
    HttpEntity entity = multiPartBuilder.build();
    HttpRequest.BodyPublisher formDataPublisher;
    if (hasFiles) {
        Pipe pipe;
        try {
            pipe = Pipe.open();
        } catch (IOException e) {
            throw new RuntimeException(e);
        }
        new Thread(() -> {
            try (OutputStream outputStream = Channels.newOutputStream(pipe.sink())) {
                entity.writeTo(outputStream);
            } catch (IOException e) {
                e.printStackTrace();
            }
        }).start();
        formDataPublisher = HttpRequest.BodyPublishers.ofInputStream(() -> Channels.newInputStream(pipe.source()));
    } else {
        ByteArrayOutputStream formOutputStream = new ByteArrayOutputStream();
        try {
            entity.writeTo(formOutputStream);
        } catch (IOException e) {
            throw new RuntimeException(e);
        }
        formDataPublisher = HttpRequest.BodyPublishers
            .ofInputStream(() -> new ByteArrayInputStream(formOutputStream.toByteArray()));
    }
    localVarRequestBuilder
        .header("Content-Type", entity.getContentType().getValue())
        .method("PUT", formDataPublisher);
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Set VoiceOver state
   * Enable/disable VoiceOver (CLI: &#x60;ios voiceover enable|disable&#x60;). The desired state comes from the JSON body or the &#x60;enabled&#x60; query param.
   * @param udid  (required)
   * @param enabled Desired state (alternative to the request body). (optional)
   * @param axEnabledRequest  (optional)
   * @return VoiceOverState
   * @throws ApiException if fails to make API call
   */
  public VoiceOverState accessibilitySetVoiceOver(String udid, Boolean enabled, AXEnabledRequest axEnabledRequest) throws ApiException {
    ApiResponse<VoiceOverState> localVarResponse = accessibilitySetVoiceOverWithHttpInfo(udid, enabled, axEnabledRequest);
    return localVarResponse.getData();
  }

  /**
   * Set VoiceOver state
   * Enable/disable VoiceOver (CLI: &#x60;ios voiceover enable|disable&#x60;). The desired state comes from the JSON body or the &#x60;enabled&#x60; query param.
   * @param udid  (required)
   * @param enabled Desired state (alternative to the request body). (optional)
   * @param axEnabledRequest  (optional)
   * @return ApiResponse&lt;VoiceOverState&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<VoiceOverState> accessibilitySetVoiceOverWithHttpInfo(String udid, Boolean enabled, AXEnabledRequest axEnabledRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = accessibilitySetVoiceOverRequestBuilder(udid, enabled, axEnabledRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("accessibilitySetVoiceOver", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<VoiceOverState>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<VoiceOverState>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<VoiceOverState>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder accessibilitySetVoiceOverRequestBuilder(String udid, Boolean enabled, AXEnabledRequest axEnabledRequest) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling accessibilitySetVoiceOver");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/voiceover"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "enabled";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("enabled", enabled));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(axEnabledRequest);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Set ZoomTouch state
   * Enable/disable ZoomTouch (CLI: &#x60;ios zoomtouch enable|disable&#x60;). The desired state comes from the JSON body or the &#x60;enabled&#x60; query param.
   * @param udid  (required)
   * @param enabled Desired state (alternative to the request body). (optional)
   * @param axEnabledRequest  (optional)
   * @return ZoomTouchState
   * @throws ApiException if fails to make API call
   */
  public ZoomTouchState accessibilitySetZoomTouch(String udid, Boolean enabled, AXEnabledRequest axEnabledRequest) throws ApiException {
    ApiResponse<ZoomTouchState> localVarResponse = accessibilitySetZoomTouchWithHttpInfo(udid, enabled, axEnabledRequest);
    return localVarResponse.getData();
  }

  /**
   * Set ZoomTouch state
   * Enable/disable ZoomTouch (CLI: &#x60;ios zoomtouch enable|disable&#x60;). The desired state comes from the JSON body or the &#x60;enabled&#x60; query param.
   * @param udid  (required)
   * @param enabled Desired state (alternative to the request body). (optional)
   * @param axEnabledRequest  (optional)
   * @return ApiResponse&lt;ZoomTouchState&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ZoomTouchState> accessibilitySetZoomTouchWithHttpInfo(String udid, Boolean enabled, AXEnabledRequest axEnabledRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = accessibilitySetZoomTouchRequestBuilder(udid, enabled, axEnabledRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("accessibilitySetZoomTouch", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ZoomTouchState>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ZoomTouchState>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ZoomTouchState>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder accessibilitySetZoomTouchRequestBuilder(String udid, Boolean enabled, AXEnabledRequest axEnabledRequest) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling accessibilitySetZoomTouch");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/zoom"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "enabled";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("enabled", enabled));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(axEnabledRequest);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Activate device
   * Activate the device (complete Setup Assistant / activation).
   * @param udid  (required)
   * @return GenericResponse
   * @throws ApiException if fails to make API call
   */
  public GenericResponse devicesActivate(String udid) throws ApiException {
    ApiResponse<GenericResponse> localVarResponse = devicesActivateWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * Activate device
   * Activate the device (complete Setup Assistant / activation).
   * @param udid  (required)
   * @return ApiResponse&lt;GenericResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<GenericResponse> devicesActivateWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesActivateRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesActivate", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<GenericResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<GenericResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<GenericResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesActivateRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesActivate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/activate"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Install profile
   * Install a configuration profile (CLI: &#x60;ios profile add&#x60;). Send the profile as the raw request body, or as multipart with a &#x60;profile&#x60; file plus an optional &#x60;p12&#x60; supervisor identity and &#x60;password&#x60; for a supervised install.
   * @param udid  (required)
   * @param profile  (required)
   * @param p12  (optional)
   * @param password Passphrase for the &#x60;.p12&#x60; identity. (optional)
   * @return GenericResponse
   * @throws ApiException if fails to make API call
   */
  public GenericResponse devicesAddProfile(String udid, Object profile, Object p12, String password) throws ApiException {
    ApiResponse<GenericResponse> localVarResponse = devicesAddProfileWithHttpInfo(udid, profile, p12, password);
    return localVarResponse.getData();
  }

  /**
   * Install profile
   * Install a configuration profile (CLI: &#x60;ios profile add&#x60;). Send the profile as the raw request body, or as multipart with a &#x60;profile&#x60; file plus an optional &#x60;p12&#x60; supervisor identity and &#x60;password&#x60; for a supervised install.
   * @param udid  (required)
   * @param profile  (required)
   * @param p12  (optional)
   * @param password Passphrase for the &#x60;.p12&#x60; identity. (optional)
   * @return ApiResponse&lt;GenericResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<GenericResponse> devicesAddProfileWithHttpInfo(String udid, Object profile, Object p12, String password) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesAddProfileRequestBuilder(udid, profile, p12, password);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesAddProfile", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<GenericResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<GenericResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<GenericResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesAddProfileRequestBuilder(String udid, Object profile, Object p12, String password) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesAddProfile");
    }
    // verify the required parameter 'profile' is set
    if (profile == null) {
      throw new ApiException(400, "Missing the required parameter 'profile' when calling devicesAddProfile");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/profiles"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    MultipartEntityBuilder multiPartBuilder = MultipartEntityBuilder.create();
    boolean hasFiles = false;
    multiPartBuilder.addTextBody("profile", profile.toString());
    multiPartBuilder.addTextBody("p12", p12.toString());
    multiPartBuilder.addTextBody("password", password.toString());
    HttpEntity entity = multiPartBuilder.build();
    HttpRequest.BodyPublisher formDataPublisher;
    if (hasFiles) {
        Pipe pipe;
        try {
            pipe = Pipe.open();
        } catch (IOException e) {
            throw new RuntimeException(e);
        }
        new Thread(() -> {
            try (OutputStream outputStream = Channels.newOutputStream(pipe.sink())) {
                entity.writeTo(outputStream);
            } catch (IOException e) {
                e.printStackTrace();
            }
        }).start();
        formDataPublisher = HttpRequest.BodyPublishers.ofInputStream(() -> Channels.newInputStream(pipe.source()));
    } else {
        ByteArrayOutputStream formOutputStream = new ByteArrayOutputStream();
        try {
            entity.writeTo(formOutputStream);
        } catch (IOException e) {
            throw new RuntimeException(e);
        }
        formDataPublisher = HttpRequest.BodyPublishers
            .ofInputStream(() -> new ByteArrayInputStream(formOutputStream.toByteArray()));
    }
    localVarRequestBuilder
        .header("Content-Type", entity.getContentType().getValue())
        .method("POST", formDataPublisher);
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Start WDA session
   * Start a WebDriverAgent (XCUITest) session.
   * @param udid  (required)
   * @param wdaConfig  (required)
   * @return WdaSession
   * @throws ApiException if fails to make API call
   */
  public WdaSession devicesCreateWdaSession(String udid, WdaConfig wdaConfig) throws ApiException {
    ApiResponse<WdaSession> localVarResponse = devicesCreateWdaSessionWithHttpInfo(udid, wdaConfig);
    return localVarResponse.getData();
  }

  /**
   * Start WDA session
   * Start a WebDriverAgent (XCUITest) session.
   * @param udid  (required)
   * @param wdaConfig  (required)
   * @return ApiResponse&lt;WdaSession&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<WdaSession> devicesCreateWdaSessionWithHttpInfo(String udid, WdaConfig wdaConfig) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesCreateWdaSessionRequestBuilder(udid, wdaConfig);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesCreateWdaSession", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<WdaSession>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<WdaSession>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<WdaSession>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesCreateWdaSessionRequestBuilder(String udid, WdaConfig wdaConfig) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesCreateWdaSession");
    }
    // verify the required parameter 'wdaConfig' is set
    if (wdaConfig == null) {
      throw new ApiException(400, "Missing the required parameter 'wdaConfig' when calling devicesCreateWdaSession");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/wda/session"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(wdaConfig);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Stop WDA session
   * Stop a running WebDriverAgent session.
   * @param udid  (required)
   * @param sessionId The WDA session id. (required)
   * @return WdaSession
   * @throws ApiException if fails to make API call
   */
  public WdaSession devicesDeleteWdaSession(String udid, String sessionId) throws ApiException {
    ApiResponse<WdaSession> localVarResponse = devicesDeleteWdaSessionWithHttpInfo(udid, sessionId);
    return localVarResponse.getData();
  }

  /**
   * Stop WDA session
   * Stop a running WebDriverAgent session.
   * @param udid  (required)
   * @param sessionId The WDA session id. (required)
   * @return ApiResponse&lt;WdaSession&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<WdaSession> devicesDeleteWdaSessionWithHttpInfo(String udid, String sessionId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesDeleteWdaSessionRequestBuilder(udid, sessionId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesDeleteWdaSession", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<WdaSession>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<WdaSession>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<WdaSession>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesDeleteWdaSessionRequestBuilder(String udid, String sessionId) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesDeleteWdaSession");
    }
    // verify the required parameter 'sessionId' is set
    if (sessionId == null) {
      throw new ApiException(400, "Missing the required parameter 'sessionId' when calling devicesDeleteWdaSession");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/wda/session/{sessionId}"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()))
        .replace("{sessionId}", ApiClient.urlEncode(sessionId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Disable condition
   * Disable the currently active condition inducer profile.
   * @param udid  (required)
   * @return GenericResponse
   * @throws ApiException if fails to make API call
   */
  public GenericResponse devicesDisableCondition(String udid) throws ApiException {
    ApiResponse<GenericResponse> localVarResponse = devicesDisableConditionWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * Disable condition
   * Disable the currently active condition inducer profile.
   * @param udid  (required)
   * @return ApiResponse&lt;GenericResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<GenericResponse> devicesDisableConditionWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesDisableConditionRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesDisableCondition", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<GenericResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<GenericResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<GenericResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesDisableConditionRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesDisableCondition");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/disable-condition"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Enable condition
   * Enable a condition inducer profile.
   * @param udid  (required)
   * @param profileTypeID Identifier of the condition profile type. (required)
   * @param profileID Identifier of the specific profile to activate. (required)
   * @return GenericResponse
   * @throws ApiException if fails to make API call
   */
  public GenericResponse devicesEnableCondition(String udid, String profileTypeID, String profileID) throws ApiException {
    ApiResponse<GenericResponse> localVarResponse = devicesEnableConditionWithHttpInfo(udid, profileTypeID, profileID);
    return localVarResponse.getData();
  }

  /**
   * Enable condition
   * Enable a condition inducer profile.
   * @param udid  (required)
   * @param profileTypeID Identifier of the condition profile type. (required)
   * @param profileID Identifier of the specific profile to activate. (required)
   * @return ApiResponse&lt;GenericResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<GenericResponse> devicesEnableConditionWithHttpInfo(String udid, String profileTypeID, String profileID) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesEnableConditionRequestBuilder(udid, profileTypeID, profileID);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesEnableCondition", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<GenericResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<GenericResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<GenericResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesEnableConditionRequestBuilder(String udid, String profileTypeID, String profileID) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesEnableCondition");
    }
    // verify the required parameter 'profileTypeID' is set
    if (profileTypeID == null) {
      throw new ApiException(400, "Missing the required parameter 'profileTypeID' when calling devicesEnableCondition");
    }
    // verify the required parameter 'profileID' is set
    if (profileID == null) {
      throw new ApiException(400, "Missing the required parameter 'profileID' when calling devicesEnableCondition");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/enable-condition"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "profileTypeID";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("profileTypeID", profileTypeID));
    localVarQueryParameterBaseName = "profileID";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("profileID", profileID));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Erase device
   * Erase all content and settings (CLI: &#x60;ios erase&#x60;). Destructive: requires &#x60;confirm&#x3D;true&#x60;.
   * @param udid  (required)
   * @param confirm Must be &#x60;true&#x60; to proceed with the destructive erase. (required)
   * @return GenericResponse
   * @throws ApiException if fails to make API call
   */
  public GenericResponse devicesErase(String udid, Boolean confirm) throws ApiException {
    ApiResponse<GenericResponse> localVarResponse = devicesEraseWithHttpInfo(udid, confirm);
    return localVarResponse.getData();
  }

  /**
   * Erase device
   * Erase all content and settings (CLI: &#x60;ios erase&#x60;). Destructive: requires &#x60;confirm&#x3D;true&#x60;.
   * @param udid  (required)
   * @param confirm Must be &#x60;true&#x60; to proceed with the destructive erase. (required)
   * @return ApiResponse&lt;GenericResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<GenericResponse> devicesEraseWithHttpInfo(String udid, Boolean confirm) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesEraseRequestBuilder(udid, confirm);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesErase", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<GenericResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<GenericResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<GenericResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesEraseRequestBuilder(String udid, Boolean confirm) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesErase");
    }
    // verify the required parameter 'confirm' is set
    if (confirm == null) {
      throw new ApiException(400, "Missing the required parameter 'confirm' when calling devicesErase");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/erase"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "confirm";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("confirm", confirm));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get AssistiveTouch
   * Get AssistiveTouch state (CLI: &#x60;ios assistivetouch get&#x60;).
   * @param udid  (required)
   * @return AssistiveTouchState
   * @throws ApiException if fails to make API call
   */
  public AssistiveTouchState devicesGetAssistiveTouch(String udid) throws ApiException {
    ApiResponse<AssistiveTouchState> localVarResponse = devicesGetAssistiveTouchWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * Get AssistiveTouch
   * Get AssistiveTouch state (CLI: &#x60;ios assistivetouch get&#x60;).
   * @param udid  (required)
   * @return ApiResponse&lt;AssistiveTouchState&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AssistiveTouchState> devicesGetAssistiveTouchWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetAssistiveTouchRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetAssistiveTouch", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<AssistiveTouchState>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<AssistiveTouchState>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<AssistiveTouchState>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetAssistiveTouchRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesGetAssistiveTouch");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/assistivetouch"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get battery info
   * Get battery diagnostics (CLI: &#x60;ios batterycheck&#x60;).
   * @param udid  (required)
   * @return BatteryInfo
   * @throws ApiException if fails to make API call
   */
  public BatteryInfo devicesGetBattery(String udid) throws ApiException {
    ApiResponse<BatteryInfo> localVarResponse = devicesGetBatteryWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * Get battery info
   * Get battery diagnostics (CLI: &#x60;ios batterycheck&#x60;).
   * @param udid  (required)
   * @return ApiResponse&lt;BatteryInfo&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<BatteryInfo> devicesGetBatteryWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetBatteryRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetBattery", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<BatteryInfo>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<BatteryInfo>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<BatteryInfo>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetBatteryRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesGetBattery");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/battery"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get developer mode
   * Get developer mode state (CLI: &#x60;ios devmode get&#x60;).
   * @param udid  (required)
   * @return DevModeState
   * @throws ApiException if fails to make API call
   */
  public DevModeState devicesGetDevMode(String udid) throws ApiException {
    ApiResponse<DevModeState> localVarResponse = devicesGetDevModeWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * Get developer mode
   * Get developer mode state (CLI: &#x60;ios devmode get&#x60;).
   * @param udid  (required)
   * @return ApiResponse&lt;DevModeState&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DevModeState> devicesGetDevModeWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetDevModeRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetDevMode", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<DevModeState>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<DevModeState>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DevModeState>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetDevModeRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesGetDevMode");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/devmode"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get device date
   * Get the device clock (CLI: &#x60;ios date&#x60;).
   * @param udid  (required)
   * @return DeviceDate
   * @throws ApiException if fails to make API call
   */
  public DeviceDate devicesGetDeviceDate(String udid) throws ApiException {
    ApiResponse<DeviceDate> localVarResponse = devicesGetDeviceDateWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * Get device date
   * Get the device clock (CLI: &#x60;ios date&#x60;).
   * @param udid  (required)
   * @return ApiResponse&lt;DeviceDate&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DeviceDate> devicesGetDeviceDateWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetDeviceDateRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetDeviceDate", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<DeviceDate>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<DeviceDate>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DeviceDate>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetDeviceDateRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesGetDeviceDate");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/date"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get device name
   * Get the device name (CLI: &#x60;ios devicename&#x60;).
   * @param udid  (required)
   * @return DeviceName
   * @throws ApiException if fails to make API call
   */
  public DeviceName devicesGetDeviceName(String udid) throws ApiException {
    ApiResponse<DeviceName> localVarResponse = devicesGetDeviceNameWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * Get device name
   * Get the device name (CLI: &#x60;ios devicename&#x60;).
   * @param udid  (required)
   * @return ApiResponse&lt;DeviceName&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DeviceName> devicesGetDeviceNameWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetDeviceNameRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetDeviceName", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<DeviceName>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<DeviceName>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DeviceName>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetDeviceNameRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesGetDeviceName");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/devicename"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List diagnostics
   * List all IORegistry/diagnostic values (CLI: &#x60;ios diagnostics list&#x60;).
   * @param udid  (required)
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object devicesGetDiagnostics(String udid) throws ApiException {
    ApiResponse<Object> localVarResponse = devicesGetDiagnosticsWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * List diagnostics
   * List all IORegistry/diagnostic values (CLI: &#x60;ios diagnostics list&#x60;).
   * @param udid  (required)
   * @return ApiResponse&lt;Object&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Object> devicesGetDiagnosticsWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetDiagnosticsRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetDiagnostics", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Object>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<Object>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Object>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetDiagnosticsRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesGetDiagnostics");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/diagnostics"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get icon layout
   * Get the SpringBoard icon layout (CLI: &#x60;ios get-icon-layout&#x60;).
   * @param udid  (required)
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object devicesGetIconLayout(String udid) throws ApiException {
    ApiResponse<Object> localVarResponse = devicesGetIconLayoutWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * Get icon layout
   * Get the SpringBoard icon layout (CLI: &#x60;ios get-icon-layout&#x60;).
   * @param udid  (required)
   * @return ApiResponse&lt;Object&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Object> devicesGetIconLayoutWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetIconLayoutRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetIconLayout", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Object>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<Object>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Object>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetIconLayoutRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesGetIconLayout");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/icon-layout"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get device info
   * Get lockdown values plus &#x60;instruments:*&#x60; keys for the device. Returns an open dictionary of heterogeneous values.
   * @param udid  (required)
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object devicesGetInfo(String udid) throws ApiException {
    ApiResponse<Object> localVarResponse = devicesGetInfoWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * Get device info
   * Get lockdown values plus &#x60;instruments:*&#x60; keys for the device. Returns an open dictionary of heterogeneous values.
   * @param udid  (required)
   * @return ApiResponse&lt;Object&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Object> devicesGetInfoWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetInfoRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetInfo", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Object>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<Object>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Object>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetInfoRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesGetInfo");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/info"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get job
   * Get a job&#39;s status. Returns &#x60;404&#x60; for an unknown job on this device.
   * @param udid  (required)
   * @param id The job id. (required)
   * @return Job
   * @throws ApiException if fails to make API call
   */
  public Job devicesGetJob(String udid, String id) throws ApiException {
    ApiResponse<Job> localVarResponse = devicesGetJobWithHttpInfo(udid, id);
    return localVarResponse.getData();
  }

  /**
   * Get job
   * Get a job&#39;s status. Returns &#x60;404&#x60; for an unknown job on this device.
   * @param udid  (required)
   * @param id The job id. (required)
   * @return ApiResponse&lt;Job&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Job> devicesGetJobWithHttpInfo(String udid, String id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetJobRequestBuilder(udid, id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetJob", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Job>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<Job>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Job>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetJobRequestBuilder(String udid, String id) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesGetJob");
    }
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling devicesGetJob");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/jobs/{id}"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()))
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get language
   * Get the device language/locale configuration (CLI: &#x60;ios lang&#x60;).
   * @param udid  (required)
   * @return LanguageConfiguration
   * @throws ApiException if fails to make API call
   */
  public LanguageConfiguration devicesGetLanguage(String udid) throws ApiException {
    ApiResponse<LanguageConfiguration> localVarResponse = devicesGetLanguageWithHttpInfo(udid);
    return localVarResponse.getData();
  }

  /**
   * Get language
   * Get the device language/locale configuration (CLI: &#x60;ios lang&#x60;).
   * @param udid  (required)
   * @return ApiResponse&lt;LanguageConfiguration&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<LanguageConfiguration> devicesGetLanguageWithHttpInfo(String udid) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetLanguageRequestBuilder(udid);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetLanguage", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<LanguageConfiguration>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<LanguageConfiguration>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<LanguageConfiguration>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetLanguageRequestBuilder(String udid) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
      throw new ApiException(400, "Missing the required parameter 'udid' when calling devicesGetLanguage");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/device/{udid}/lang"
        .replace("{udid}", ApiClient.urlEncode(udid.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get lockdown values
   * Get lockdown values (CLI: &#x60;ios lockdown get&#x60;). Without &#x60;domain&#x60; the full set is returned; with &#x60;domain&#x60; the values are scoped to that lockdown domain.
   * @param udid  (required)
   * @param domain Optional lockdown domain to scope the returned values. (optional)
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object devicesGetLockdownValues(String udid, String domain) throws ApiException {
    ApiResponse<Object> localVarResponse = devicesGetLockdownValuesWithHttpInfo(udid, domain);
    return localVarResponse.getData();
  }

  /**
   * Get lockdown values
   * Get lockdown values (CLI: &#x60;ios lockdown get&#x60;). Without &#x60;domain&#x60; the full set is returned; with &#x60;domain&#x60; the values are scoped to that lockdown domain.
   * @param udid  (required)
   * @param domain Optional lockdown domain to scope the returned values. (optional)
   * @return ApiResponse&lt;Object&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Object> devicesGetLockdownValuesWithHttpInfo(String udid, String domain) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = devicesGetLockdownValuesRequestBuilder(udid, domain);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("devicesGetLockdownValues", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<Object>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<Object>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<Object>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder devicesGetLockdownValuesRequestBuilder(String udid, String domain) throws ApiException {
    // verify the required parameter 'udid' is set
    if (udid == null) {
[...]
