/*
 * go-ios REST API
 *
 * go-ios REST API.  This is the *ideal* contract for the go-ios REST server. It is authored spec-first in TypeSpec and emitted to OpenAPI 3.1; the go-ios server conforms to this document (there is no backward-compatibility constraint yet).  ## Authentication  Every route under `/api/v1` requires a bearer token: `Authorization: Bearer <GO_IOS_API_KEY>`. The server refuses to start unless either an API key is configured or it is launched with `- -disable-auth`.  When the server is started with `- -disable-auth`, authentication is **not** enforced and the `Authorization` header may be omitted. The Swagger UI (`/swagger/_*`) is always unauthenticated and lives outside `/api/v1`, so it is not modeled here.  ## Device routing  Device-scoped routes live under `/device/{udid}`. A middleware resolves the udid: an unknown udid yields `404`, an empty udid yields `422`. The `/device/{udid}/apps` subgroup is serialized per-udid (one concurrent request per device).  ## Streaming  Long-lived endpoints (`/notifications`, `/ostrace`, `/syslog`, `/listen`, `/sysmontap` and the async `/jobs/{id}/logs`) are modeled as real Server-Sent Events (`text/event-stream`) with typed event payloads. See streaming.tsp.
 *
 * The version of the OpenAPI document: 0.1.0
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

using Newtonsoft.Json.Converters;

namespace GoIos.Sdk.Generated.Client
{
    /// <summary>
    /// Formatter for 'date' openapi formats ss defined by full-date - RFC3339
    /// see https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#data-types
    /// </summary>
    public class OpenAPIDateConverter : IsoDateTimeConverter
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="OpenAPIDateConverter" /> class.
        /// </summary>
        public OpenAPIDateConverter()
        {
            // full-date   = date-fullyear "-" date-month "-" date-mday
            DateTimeFormat = "yyyy-MM-dd";
        }
    }
}
